#optionContainer {
    width: 500px;
    height: 600px;
    padding: 50px;
    background: rgba(204, 204, 204, 0.308);
    border: 15px solid #fff;
}

#optionContainer button {
    width: 200px;
    border: 3px solid;
    border-radius: 0;
}

.gradientBorder {
    --borderWidth: 2px;
    background: rgba(240, 240, 240, 0.85);
    position: relative;
    border-radius: var(--borderWidth);
}

.gradientBorder:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, red, yellow, lime, aqua, blue, magenta, red);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedGradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
  
  
@keyframes animatedGradient {
    0% {
          background-position: 0% 50%;
       }
    50% {
          background-position: 100% 50%;
        }
    100% {
          background-position: 0% 50%;
        }
}
  
#optionContainer a button {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    outline: 0;
    
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

#optionContainer a button::after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }

#optionContainer a button:hover::after {
    top: 0px;
    left: 0px;
}

#optionContainer a #addButton::after {
    background-color: #0D6EFD;
}

#optionContainer a #searchButton::after {
    background-color: #c5c5c5;
}

#optionContainer a #listButton::after {
    background-color: #FFC107;
}