#resultContainer {
    background: #c5c5c5;
    background-image: url('../components/layout/assets/stars.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#resultListContainer {
    width: 100%;
    background: rgba(255, 255, 255, 0.966);
}

.resultText {
    background: rgba(61, 61, 61, 0.3);
}