#searchContainer {
    min-height: 100vh;
    background-color: #c5c5c5;
    background: url('../components/layout/assets/gradienta.jpg');
    background-size: cover;
    background-position: center;
}

.nav-item button {
    font-weight: 600;
    font-size: 20px;
}

#searchFormContainer {
    width: 50%;
    margin: 100px auto;
}

#searchText {
    background: rgba(61, 61, 61, 0.3);
}

#searchBackButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

#searchBackButton:hover {
    transform: rotate(360deg) scale(2);
    -ms-transform: rotate(360deg) scale(2);
    -webkit-transform: rotate(360deg) scale(2);
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #FDD54F;
}

.nav-link.active {
    color: #6C757D !important;
}
